name: Java CI with Gradle

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
    - name: Make gradlew executable
      run: chmod +x ./gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Fabric
        path: |
          fabric/build/libs/*.jar
          neoforge/build/libs/*.jar
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: NeoForge
        path: |
          neoforge/build/libs/*.jar